In [16]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg as ps

ModuleNotFoundError: No module named 'pandas'

In [ ]:
connection = psycopg2.connect(
    host="localhost",
    database="pendat",
    user="postgres", 
    password="kuliah",
    port="5432"
    )

In [ ]:
sql = "select * from public.iris"
data = pd.read_sql(sql, connection)
df = pd.DataFrame(data)

In [15]:
print(df)

NameError: name 'df' is not defined

In [ ]:
connection.close()

In [8]:
import psycopg2
import pandas as pd

connection = psycopg2.connect(
    host="localhost",
    database="zofan",
    user="postgres", 
    password="kuliah",
    port="5432"
    )
print("Connection Successful")

query = "select * from pendat"
df = pd.DataFrame(data)
print(df)
connection.close()

Connection Successful
     sepal.length  sepal.width  petal.length  petal.width    variety
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]